/* Fix root container */
#root {
  width: 100%;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 1000;
  text-align: center;
}

/* Ensure full-page layout */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 140px;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page-wrapper {
  padding-top: 70px; /* same as your fixed header height */
}

